node_modules/
.env
server/src/visionapi/crucial-raceway-459108-k2-efcf8535a54d.json

# Hardhat files
/cache/
/artifacts/

# TypeChain files
/typechain/
/typechain-types/

# solidity-coverage files
/coverage/
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
/ignition/deployments/chain-31337/
